<table class="table table-striped table-bordered table-hover table-sm rounded"
       ng-if="list.foundItems.length > 0">
	<thead class="thead-dark">
		<tr>
			<th scope="col" class="text-center">Name</th>
			<th scope="col" class="text-center">Short Name</th>
			<th scope="col" class="text-center">Description</th>
      <th scope="col" class="text-center">Remove</th>
		</tr>
	</thead>
	<tbody>
    <tr ng-repeat="item in list.foundItems">
			<td class="text-center" scope="row">{{item.name}}</td>
			<td class="text-center">{{item.short_name}}</td>
			<td class="text-center">{{item.description}}</td>
			<td class="text-center">
        <input type="button"
               class="btn btn-lg btn-danger"
               value="Don't want this one!"
               ng-click="list.onRemove({index:$index})">
      </td>
		</tr>
	</tbody>
</table>
<div class="error" scope="row"
     ng-if="list.nothingFound()">
     Nothing found!
</div>
